{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": ["react-hot-loader/babel"],
    "env": {
        "production": {
            "plugins": [
                [
                    "react-remove-properties",
                    {
                        "properties": ["data-testid"]
                    }
                ]
            ]
        }
    }
}
